*{
font-family: 'Courier New', Courier, monospace;
font-size: 16px;


}
body{
background-color: azure;

}
main{
background-color: white;
min-width: 300px;
max-width: 800px;
margin: auto;
padding: 10px;
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363);
}

h1 {
    font-size: 2em;
    color: rgb(30, 1, 83);
    text-align: center;
}

h2 {
    font-size: 1.2em;
    color: rgb(30, 1, 83);
    text-align: center;
}

img.capa {
    display: block;
    margin: auto;
}
img.manual{
       display: block;
       margin: auto;
       width: 100%;
   }
}
a#efeitomenu {
    background-color: rgb(206, 202, 202);
    padding: 10px;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    color: rgb(26, 26, 255);
    
     
}

a#efeitomenu:hover {
    text-decoration: none;
    font-weight: bolder;
    color: rgb(26, 26, 255);
   background: -webkit-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     background: -moz-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     background: -o-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     background: -ms-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     background: linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     border: 1px solid #CCCCCE;
     border-radius: 3px;
     box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                   0 2px 7px rgba(0, 0, 0, 0.2);
    padding: 5px;
    transition: .5s;

}
#Menu{
    display: block;
    margin-top: 10px;
   background: -webkit-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
   background: -moz-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
   background: -o-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
   background: -ms-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
   background: linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
   border: 1px solid #CCCCCE;
   border-radius: 3px;
   box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                 0 2px 7px rgba(0, 0, 0, 0.2);
   color: #616165;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(53, 42, 42, 0.363);
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    }
nav > a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    color: rgb(26, 26, 255);
   

}
   /* #ast-scroll-top {
        display: none;
        position: fixed;
        text-align: center;
        cursor: pointer;
        z-index: 99;
        width: 2.1em;
        height: 2.1em;
        line-height: 2.1;
        color: #fff;
        border-radius: 2px;
        content: "";
    }
    .ast-scroll-top-icon {
        transform: rotate(180deg);
    }
    .ast-scroll-to-top-right {
        right: 30px;
        bottom: 30px;
    }
    */