*{
font-family: 'Courier New', Courier, monospace;
font-size: 16px;


}
body{
background-color: azure;

}
main{
background-color: white;
/*min-width: 320px;
max-width: 800px;*/
margin: auto;
padding: 10px;
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363);
}

h1 {
    font-size: 2em;
    color: rgb(30, 1, 83);
    text-align: center;
}

h2 {
    font-size: 1.2em;
    color: rgb(30, 1, 83);
    text-align: center;
}

img.capa {
    display: block;
    margin: auto;
}
img.manual{
       display: block;
       margin: auto;
       width: 100%;
   }
}
a#efeitomenu {
    background-color: rgb(206, 202, 202);
    padding: 10px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(58, 0, 112);
     
}

a#efeitomenu:hover {
    text-decoration: none;
    color: rgb(26, 26, 255);
    background-color: cornflowerblue;
    padding: 10px;
    transition: 1s;
}
#Menu{
     text-align: center
    }

   /* #ast-scroll-top {
        display: none;
        position: fixed;
        text-align: center;
        cursor: pointer;
        z-index: 99;
        width: 2.1em;
        height: 2.1em;
        line-height: 2.1;
        color: #fff;
        border-radius: 2px;
        content: "";
    }
    .ast-scroll-top-icon {
        transform: rotate(180deg);
    }
    .ast-scroll-to-top-right {
        right: 30px;
        bottom: 30px;
    }
    */