*{
font-family: 'Courier New', Courier, monospace;
font-size: 16px;


}
body{
background-color: azure;

}
main{
background-color: white;
width: 1000px;
margin: auto;
padding: 10px;
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363);
}

h1 {
    font-size: 2em;
    color: rgb(30, 1, 83);
    text-align: center;
}

h2 {
    font-size: 1.2em;
    color: rgb(30, 1, 83);
    text-align: center;
}
h3 {
    font-size: 1em;
    color: rgb(30, 1, 83);
    text-align: center;
    
}

img.capa {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(58, 0, 112);
    text-align: center;
}

a:hover {
    text-decoration: underline;
    color: rgb(26, 26, 255);
}